.fm-sidebar
  .user_box
    = image_tag('avatar.png')
    %p.mobile-hide Piotr Gaj
  %ul
    %li
      = link_to  areas_path, {class: ('active' if params[:controller] == 'areas')} do
        %span.icon-map.fm-sidebar-icon
        %span.mobile-hide Pola
        %span.mobile-hide.icon-down_arrow
    %li
      = link_to  crops_path, {class: ('active' if  params[:controller] == 'crops')} do
        %span.icon-ear-of-wheat.fm-sidebar-icon
        %span.mobile-hide Uprawy
        %span.icon-down_arrow.mobile-hide
    %li
      = link_to  events_path, {class: ('active' if  params[:controller] ==  'events')} do
        %span.icon-shovel-to-dig.fm-sidebar-icon
        %span.mobile-hide Zdarzenia
        %span.icon-down_arrow.mobile-hide
    %li
      = link_to  machines_path, {class: ('active' if  params[:controller] == 'machines')} do
        %span.icon-tractor.fm-sidebar-icon
        %span.mobile-hide Maszyny
        %span.icon-down_arrow.mobile-hide