%tr
  %td
    = t("activerecord.attributes.event.kinds.#{event.event}")
  %td
    = event.description
  %td
    - if !event.areas.empty?
      %ul.event-area-list
        -event.areas.each do |area|
          %li
            =link_to area.name, area_path(area)
  %td
    = event.made_at
  %td.actions
    = link_to edit_event_path(event),"data-uk-tooltip" => "{pos:'bottom-left'}", title: "Edytuj zdarzenie"  do
      %span.uk-icon-edit.edit
    = link_to event_path(event), method: :delete, data: { confirm: 'Napewno chcesz usunąć zdarzenie.' },"data-uk-tooltip" => "{pos:'bottom-left'}", title: "Usuń zdarzenie"   do
      %span.uk-icon-remove.destroy
