.table-content
  = render 'areas_map'
= render 'shared/notification'
.table-content
  .uk-overflow-container.table-inside
    %table.uk-table
      %thead
        %tr
          %th
            %h4 Pole
          %th
            %h4 Powierzchnia
          %th
            %h4 Klasa
          %th
            %h4 Status
          %th
            %h4 akcje
      %tbody
        = render @areas
    = link_to 'Dodaj nowe pole', new_area_path, class: 'uk-button uk-button-primary uk-button-large'
#area_modal.uk-modal
= render 'testt'
