%tr
  %td
    = machine.name
  %td
    = machine.description
  %td
    = machine.buy
  %td
    = machine.made_at
  %td.actions
    = link_to edit_machine_path(machine),"data-uk-tooltip" => "{pos:'bottom-left'}", title: "Edytuj maszynę"  do
      %span.uk-icon-edit.edit
    = link_to machine_path(machine), method: :delete, data: { confirm: 'Napewno chcesz usunąć maszynę. ' },"data-uk-tooltip" => "{pos:'bottom-left'}", title: "Usuń maszynę"   do
      %span.uk-icon-remove.destroy