= render 'shared/notification'
.margin-container
  .form-container.uk-width-1-1
    %h2
      %span.icon-pig
      Rzut numer:
      = @throw.number
    .uk-grid
      .uk-width-1-1.uk-width-large-1-2.uk-margin-bottom
        .throw-info
          .uk-flex
            %h3.throw-info-title
              %span Dane zakupu:
          .uk-flex
            .throw-info-item.uk-text-bold
              Sztuk:
            .throw-info-item-value
              = @throw.qty
          .uk-flex
            .throw-info-item.uk-text-bold
              Data zakupu:
            .throw-info-item-value
              = @throw.buy_at
          .uk-flex
            .throw-info-item.uk-text-bold
              Cena zakupu:
            .throw-info-item-value
              = @throw.buy_cost
              zł
          .uk-flex
            .throw-info-item.uk-text-bold
              Waga:
            .throw-info-item-value
              = @throw.weight
              kg
      .uk-width-1-1.uk-width-large-1-2.uk-margin-bottom
        .throw-info
          %h3.throw-info-title
            %span Dane sprzedaży:
          .uk-flex
            .throw-info-item.uk-text-bold
              Sprzedanych:
            .throw-info-item-value
              = @throw.sell_qty
          .uk-flex
            .throw-info-item.uk-text-bold
              Upadków:
            .throw-info-item-value
              = @throw.drop_qty
          .uk-flex
            .throw-info-item.uk-text-bold
              Cena sprzedaży:
            .throw-info-item-value
              = @throw.sell_total
              zł
          .uk-flex
            .throw-info-item.uk-text-bold
              Waga sprzedanych:
            .throw-info-item-value
              = @throw.weight_total
              kg
    .uk-grid
      .uk-width-1-1.uk-width-large-1-2.uk-margin-bottom
        .throw-info
          .uk-flex
            %h3.throw-info-title
              %span Informacje:
          .uk-flex
            .throw-info-item.uk-text-bold
              Koszty paszy:
            .throw-info-item-value
              = @throw.eat_costs
              zł
          .uk-flex
            .throw-info-item.uk-text-bold
              Dodatkowe koszty:
            .throw-info-item-value
              = @throw.additional_costs
              zł
          .uk-flex
            .throw-info-item.uk-text-bold
              Zużycie paszy:
            .throw-info-item-value
              = @throw.eat_weight
              kg
      .uk-width-1-1.uk-width-large-1-2.uk-margin-bottom
        .throw-info
          .uk-flex
            %h3.throw-info-title.uk-margin-bottom-remove
              %span Faktury:
          .uk-overflow-container
            %table.uk-table
              %thead
                %tr.uk-text-bold
                  %td Numer
                  %td Data
                  %td Ilość
                  %td Cena
                  %td Waga
              - @throw.throws_assignment.each do |assignment|
                %tbody
                  %tr
                    %td
                      =link_to assignment.sale.number, sale_path(assignment.sale), class: 'link-blue'
                    %td
                      = assignment.sale.sell_at
                    %td
                      = assignment.qty
                      szt.
                    %td
                      = assignment.price
                      zł
                    %td
                      = assignment.weight
                      kg
    .uk-grid
      .uk-width-1-1
        .throw-info
          .uk-flex
            %h3.throw-info-title.uk-margin-bottom-remove
              %span Pasze:
          .uk-overflow-container
            %table.uk-table
              %thead
                %tr.uk-text-bold
                  %td Numer
                  %td Data
                  - @kinds.each do |kind|
                    %td= t("activerecord.attributes.forage_element.kind.#{kind}")
                  %td Razem
                  %td Usuń
              %tbody
                - @throw.base_forages.order(made_at: :asc).each_with_index do |forage, index|
                  %tr
                    %td
                      = index + 1
                    %td
                      = forage.made_at
                    - @kinds.each do |kind|
                      %td
                        = forage.forage_elements.where(kind: kind).any? ? forage.forage_elements.where(kind: kind).first.weight : 0
                        kg
                        %br
                        = forage.forage_elements.where(kind: kind).any? ? forage.forage_elements.where(kind: kind).first.price : 0
                        zł
                    %td
                      = forage.forage_elements.sum('forage_elements.weight').round(2)
                      kg
                      %br
                      = forage.forage_elements.sum('forage_elements.price').round(2)
                      zł
                    %td.actions
                      = link_to base_forage_path(forage), method: :delete, data: { confirm: 'Napewno chcesz usunąć wpis. ' },"data-uk-tooltip" => "{pos:'bottom-left'}", title: "Usuń wpis"   do
                        %span.uk-icon-remove.destroy

                -if @throw.base_forages.any?
                  %tr.uk-text-bold
                    %td
                    %td
                      Razem:
                    - @kinds.each do |kind|
                      %td
                        = @throw.base_forages.joins(:forage_elements).where(forage_elements: {kind: kind}).sum('forage_elements.weight').round(2)
                        kg
                        %br
                        = @throw.base_forages.joins(:forage_elements).where(forage_elements: {kind: kind}).sum('forage_elements.price').round(2)
                        zł
                    %td
                      = @throw.base_forages.joins(:forage_elements).sum('forage_elements.weight').round(2)
                      kg
                      %br
                      = @throw.base_forages.joins(:forage_elements).sum('forage_elements.price').round(2)
                      zł
                    %td



